<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8 text-start">
        <a href="#" class="nav-link" (click)="onClickAddDay(todayDate)"><i data-feather="calendar"></i><span>&nbsp; Today</span> </a>
      </div>
      <div class="col-sm-4 text-end">
        <a href="#" class="nav-link" (click)="onClickAddDay(yesterdayDate)"><i data-feather="calendar"></i><span>&nbsp; Yesterday</span> </a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <table class="table table-bordered table-striped table-responsive-sm table-sm">
          <thead>
            <tr>
            <th class=""style="width: 180px" >Time</th>
            <th class="">Comment</th>
            <th class="text-center" style="width: 120px">Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let re of selectedWorkLog?.hourLog">
              <td class="p-0" >{{re.timing}}</td>
              <td class="p-0">
                <textarea [(ngModel)]="re.comment"   rows="2" class="w-100 p-1 border-0 bg-transparent"></textarea>
              </td>
              <td class="p-0">
                <div class="">
                  <input id="chkImp_{{re.id}}" [(ngModel)]="re.isImportant" type="checkbox" checked="">
                  <label for="chkImp_{{re.id}}" class="">&nbsp;Important</label>
                </div>
                <div class="">
                  <input id="chkUrgt_{{re.id}}" [(ngModel)]="re.isUrgent" type="checkbox" checked="">
                  <label for="chkUrgt_{{re.id}}" class="">&nbsp;Urgent</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <h3 class="text-end">
      {{selectedWorkLog.date}}
    </h3>
    <div class="col-sm-12">

      <form class="row">
        <div class="col-sm-12">
          <label>How about today?</label>
          <textarea class="w-100 p-1 rounded-2 border-dark" id="about" [(ngModel)]="selectedWorkLog.comment" name="about" rows="3"  placeholder="comment"></textarea>
        </div>
        <div class="col-sm-6">
          <select name="country" [(ngModel)]="selectedWorkLog.statusText" autocomplete="country-name"
                  class="form-control form-control-sm">
            <option value="Bed">Bed</option>
            <option value="Normal">Normal</option>
            <option value="Average">Average</option>
            <option value="Good">Good</option>
          </select>
        </div>
        <div class="col-sm-6">
          <button class="form-control btn btn-primary btn-sm" (click)="onUpdateWorkLog()">Save</button>
        </div>


      </form>
    </div>
    <hr />
    <div class="col-sm-12">
      <table class="table table-responsive">
        <tr>
          <td></td>
          <td style="text-align: center; width: 50%;">Important</td>
          <td style="text-align: center;width: 50%;">Not Important</td>
        </tr>
        <tr>
          <td style="transform:rotate(270deg);height: 150px;text-align: center">Urgent</td>
          <td style="background-color: yellowgreen;padding: 0;text-align: center;color: white;">{{graphData.urgentImportant}}%</td>
          <td style="background-color: cornflowerblue;padding: 0;text-align: center;color: white;">{{graphData.urgent}}%</td>
        </tr>
        <tr>
          <td style="transform:rotate(270deg);height: 150px;text-align: center;">Not Urgent</td>
          <td style="background-color: darkorange;padding: 0;text-align: center;color: white;">{{graphData.important}}%</td>
          <td style="background-color: orangered;padding: 0;text-align: center;color: white;">{{graphData.none}}%</td>
        </tr>
      </table>
    </div>

  </div>
</div>





